div.centered-pills
    ul.nav.nav-pills
        li
            a(href="/") Home
        li
            a(href="/play") Play the Game
        li.dropdown
            a.dropdown-toggle(data-toggle="dropdown", href="#") Quiz Manager
                b.caret
            ul.dropdown-menu
                li
                    a(href="/admin/createCourse") Create Course
                li
                    a(href="/admin/createQuestion") Create Question
                li
                    a(href="/admin/") Admin Dashboard