div.wrapper.row-offcanvas.row-offcanvas-left
    aside.left-side.sidebar-offcanvas
        section.sidebar
            div.user-panel
                div.pull-left.image
                    img.img-circle(src='/img/avatar3.png', alt='User Image')
                div.pull-left.info
                    p Hello, User
                    a(href='#')
                        i.fa.fa-circle.text-success
                            Online
            ul.sidebar-menu
                li
                    a(href='/admin/')
                        i.fa.fa-dashboard
                        span Dashboard
