extends layout
block content
    section.content-header
        h1 Dashboard
            small Control panel
    section.content
        div.row
            -for (var x = 0; x < courses.length; x++)
                div.col-lg-3.col-xs-6
                    div.small-box.bg-aqua
                        div.inner
                            h3 #{courses[x].title}
                            p #{courses[x].questionCount} Exercises
                        div.icon
                            i.ion.ion-android-book
                        a.small-box-footer(href='/course/#{courses[x].url}/go') Go to course
                            i.fa.fa-arrow-circle-right